.conteudo {
  margin-top: 30px;
}

.servico {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  transition: .2s ease-out;
  text-align: center;
  margin-bottom: 20px;
}
.servico a{
  color: #fff;
}

.servico:hover {
  transition: .2s ease-out;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.servico .titulo:hover, .servico .edicao:hover, .servico .salvar-servico:hover {
  transition: .2s ease-out;
  background-color: #515154;
}
.servico a:hover{
  transition: .2s ease-out;
  text-decoration-line: none;
}
.servico .editar:hover {
  transition: .2s ease-out;
  background-color: rgb(59, 124, 179);
}
.servico .excluir:hover {
  transition: .2s ease-out;
  background-color: rgb(255, 93, 93);
}

.servico .titulo{
  transition: .2s ease-out;
  background-color: #3A3A3C;
}
.servico .titulo h1 {
  padding: 60px 0;
}

.servico .titulo h1 i{
  margin-bottom: 5px;
}

.servico .editar i, .servico .excluir i {
  padding: 10% 40%;
}

.servico .editar {
  transition: .2s ease-out;
  background-color: #2a6496;
}

.servico .excluir {
  transition: .2s ease-out;
  background-color: #ff4646;
}

.servico .field {
  padding: 60px 0;
}

.servico .field label {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.servico .field input {
  width: 60%;
  font-size: 18px;
  text-align: center;
}

.servico .salvar-servico {
  background-color: #3A3A3C;
  transition: .2s ease-out;
}

.servico .edicao {
  transition: .2s ease-out;
  background-color: #3A3A3C;
  padding: 10px 0;
}

.servico .salvar {
  background-color: transparent;
  border: 0px;
  color: #fff;
  padding: 12px 40%;
}

.servico .voltar {
  padding: 15px 40%;
}

.cabecalho-tabela th {
  text-align: center;
}

#tabelaTarefas td .btn-acao {
  margin-right: 0 5px !important;
}
#tabelaTarefas td a {
  color: #fff;
}

.form-tarefa .form-group {
  margin-bottom: 40px;
}
.form-tarefa .form-group label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  .form-tarefa .form-group label {
    font-size: 12px;
  }
  .form-group .preco {
    margin-bottom: 40px;
  }
}
